:root {
  --spritesheet-size: 1104px;
}

.Character-container {
  position: relative;
  height: calc((var(--pixels) * var(--pixel-size)) + 15px);
  width: calc(var(--pixels) * var(--pixel-size));
  overflow: hidden;
  margin: 0 auto;
}

.Character-sprite {
  width: calc(var(--spritesheet-size) * var(--pixel-size));
  position: absolute;
  left: 0;
}

.face_right, .mr {
  top: 0;
}
.face_up, .um {
  top: calc((-1 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}
.face_up_right, .ur {
  top: calc((-2 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}
.face_up_left, .ul {
  top: calc((-3 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}
.face_down, .dm {
  top: calc((-4 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}
.face_down_right, .dr {
  top: calc((-5 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}
.face_down_left, .dl {
  top: calc((-6 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}
.face_left, .ml {
  top: calc((-7 * (var(--spritesheet-size)/8) * var(--pixel-size)));
}

.walking {
  animation: walking 1s steps(8) infinite;
}
@keyframes walking {
  from {
    transform: translate3d(0px,0,0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}
