:root {
  --pixels: 128px;
  --pixel-size: 2;

  --ch-red: #FF1E00;
  --ch-blue-white: #E8F9FD;
  --ch-green: #59CE8F;
  --ch-black: #000000;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--ch-green);
  color: var(--ch-red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pixelart {
  image-rendering: pixelated;
}
